@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/fonts";


.star {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .star.selected {
    color: gold;
  }
  
  .star-rating {
    color: colors.$primary-label;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .star-text{
    padding-left: 1rem;
    margin-bottom: 0;
  }