
$primary-background:rgba($color:#70b9c6, $alpha:.325) ;
$primary-border: #99d5c9;
$primary-green:  #70C6A8;
$primary-white:  #ffffff;
$primary-orange: #e2693e;
$primary-body-text: #00b2caff;
$secondary-body-text: #5b7553ff;
$primary-title:  #15b5b0;
$primary-label: #365b6d;
$primary-light-blue:#708EC6;
$primary-purple: #602ECB;
$primary-darkgray: #61707D;
$photo-background: rgba($color:#708EC6, $alpha: 0.25);
$primary-input-border: rgba($color:#3AA8C1, $alpha: 0.5);
$primary-button: rgba($color:#39828f, $alpha: 0.5);
$medium-blue: #367da3;
$secondary-text: #794F42;
$secondary-slate: #5C667E;
$secondary-blue:#1B9AAA;


$background-info: #f2f2f2;
$background-cards: #eff0f7;

$secondary-slate: #5C667E;
$secondary-blue:#1B9AAA;

$background-color-grey: #d3d3d3;


$supporting-purple: #7743DB;
$supporting-violet: #392b58;





