@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";
@use "../../styles/partials/fonts";

.reset-password{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: fonts.$primary-font-heading;
    color: colors.$secondary-slate;

    &__main{
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        @include mixins.tablet{
            width: 50vw;
            margin: 0 auto;
        }
    }
    &__title{
        text-align: center;
    }
    &__input{
        padding: 1rem;
        margin:0 1rem;
        border: 2px solid colors.$primary-border;
        border-radius: 0.25rem;
    }
    &__email-label{
        color: colors.$primary-label;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
    &__email{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__button{
        margin: 1rem;
        @include mixins.booking-button;
    }
}





